
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

@import "reset.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "variables.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1000vh;
    color: #2e363e;
}


.friends-layout{
    display: flex;
    flex-direction: column;
}


/*options*/
.friends-options{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 10%;
}

.friends-options span{
    width: 50%;
    font-size: 30px;
    color: black;
    margin-left: 20px;
}

.friends-options__column{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.friends-options__column i {
    margin-right: 30px;
}


/*friends header*/

.friends-header{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    height: 10%;
}

.friends-header i {
    margin: 0px 10px;
}

/*profile*/
.profile{
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: var(--gray);
    padding: 15px 25px;
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    
}

.profile h1{
    margin-left: 20px;
    font-size: 30px;
}


.channel{
    height: 55%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
}
.channel :first-child{
    display: flex;
    align-items: center;
}

.channel__cloumn__title{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    
}



.channel__cloumn__direction{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  
}






.channel :last-child{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.channel__cloumn__logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
}

.channel__cloumn__count{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.channel__cloumn__logo img{
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-right: 20px;
}

.friends-navigation {
    height: 10%;
}


/*navigation*/

/*
.friends-navigation__column {
    padding: 20px 40px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

*/

.main_screen{
    padding: var(--horizontal-space);
}