.find_user{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.find_user__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find_user__column:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended_friends{
    border-top: 1px solid gray;
    padding: 10px;
}

.recommended_friends__header{
    color: gray;
    font-size: 10px;
    margin-bottom: 10px;
}

.recommended_friends__content{
    color: gray;
    font-size: 15px;
    text-align: center;
    padding: 60px 20px;
}

.find_openchat{
    border-top: 1px solid gray;
    padding: 20px 10px;
}

.find_openchat__column{
    display: flex;
    flex-direction: column;
}

.find_openchat__column__header{
    display: flex;
    justify-content: space-between;
}

.find_openchat__column__header:first-child span{
    color: gray;
    font-size: 15px;
}

.find_openchat__column__content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.find_openchat__column__content_writing{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.find_openchat__column__content_writing span{
    display: flex;
    margin-bottom: 10px;
}

.find_openchat__column__content_writing span:nth-child(2){
    color: gray;
}

.find_openchat__column__content_writing span:last-child{
    display: flex;
    justify-content: space-evenly;
}


.find_openchat__column__content_writing span:last-child img{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
}

.find_openchat__column__content__image img{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.openchat_members{
    color: gray;
}
.openchat_active{
    color: hotpink;
}







.find-icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    
}


.find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons__icon span{
    margin-top: 15px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.recommended-friends span{
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 18px;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtag{
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;

}
.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider{
    width: 1px;
    height: 15px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 5px;
}

.open-post__member-status{
    color: #ffb0e0;
}

.open-post__photo{
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post_heart-count{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post_heart-count span{
    margin-left: 5px;
}