.user-component {
    display: flex;
    justify-content: space-between;
   
}

.user-component__column,
.user-component__column :first-child{
    display: flex;
    align-items:center ;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__text{
    padding: 10px 0px;
}


.user-component__title {
    font-weight: 600;
    font-size: 18px;
}


.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0,0,0,0.5);
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;    
}

.user-component__title--not-bold{
    font-weight: 400;
}


.user-component__column:last-child{
    color: rgba(0,0,0,0.5);
}

.user-component__column--chat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-component__column--chat--clock{
    text-align: center;
    color: rgba(0,0,0,0.3);
}



.chat_cloumn{
    margin-bottom: 10px;
}

.chat_main{
    padding: 0px var(--horizontal-space);
}

